<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div class="container text-center">
<h1> Your password is: </h1>
<h2 class="alert alert-success"> {{passwordP}}</h2>
<!-- Observa que metemos 'password' entre dobles llaves.
	'passwordP' es la clave del diccionario que se le pasa
	a 'render' como argumento, en el documento 'views.py'
-->

<br>
<a href="{% url 'home' %}" class="btn btn-warning">Home</a>

<!-- Crea un 'a tag' de modo que al pincharlo nos vamos a 'home'

En el fichero urls.py, en la variable urlpatterns, debe haber un
path con 'home' donde aparezca name='home'-->

<br>
</div>
